<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">River Plate</a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink='inicio' routerLinkActive="active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='contactos' routerLinkActive="active" href="#">Contactos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='galeria' routerLinkActive="active" href="#">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='servicios' routerLinkActive="active" href="#">Servicios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- routerLinkActive="active" deja en negrita la opcion del navbar seleccionado -->