<div class="card-group">
    <div class="card">
      <img src="https://66.media.tumblr.com/a5d4085ed2a54df314c6a89e2c5138f3/tumblr_pj8o6myyFq1uv7bxpo1_1280.jpg" class="card-img-top" alt="...">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Escudo 1928</h5>
      </div>
    </div>
    <div class="card">
      <img src="https://i.pinimg.com/originals/2e/e6/67/2ee667217a74b9918ad64a237b2b909a.jpg" class="card-img-top" alt="...">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Escudo 1986</h5>
      </div>
    </div>
    <div class="card">
      <img src="https://www.nicepng.com/png/detail/12-122657_escudo-de-river-png-river-plate-logo-png.png" class="card-img-top" alt="...">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Escudo 2021</h5>
      </div>
    </div>
  </div>