<div class="card-group">
    <div class="card d-flex justify-content-center">
        <img src="https://e00-ar-marca.uecdn.es/claro/assets/multimedia/imagenes/2021/11/26/16379569735634.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card d-flex justify-content-center">
        <img src="https://as01.epimg.net/argentina/imagenes/2021/02/13/futbol/1613231759_059687_1613231854_noticia_normal_recorte1.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card d-flex justify-content-center">
        <img src="https://e00-us-marca.uecdn.es/claro/assets/multimedia/imagenes/2021/11/26/16379014901871.jpg" class="card-img-top" alt="...">
    </div>
  </div>