<footer class="py-5 bg-primary">
    <div class="row">
      <div class="col-2 offset-1">
        <h5>Sección 1</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Inicio</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Caracteristicas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Precios</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preguntas Frecuentes</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sobre nosotros</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Sección 2</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Inicio</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Caracteristicas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Precios</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preguntas Frecuentes</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sobre nosotros</a></li>
        </ul>
      </div>
      <div class="col-4 offset-2">
        <form>
          <h5>Suscribete para mas contenido y noticias</h5>
          <p>Resumen mensual de lo nuevo y emocionante de nosotros.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Dirección Correo</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Correo Electronico">
          </div>
          <div class="btn-boton">
            <button class="btn-primary bg-secondary" type="button">Suscribirse</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2021 Company, Inc. Todos los derechos reservados.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
