.imagen3 {
    height: 750px;
    top: 800px;
}

.carousel-control-prev {
    background-color: rgba(245, 245, 245, 0.255);
    height: 750px;
}

.carousel-control-next {
    background-color: rgba(245, 245, 245, 0.255);
    height: 750px;
}